# Estimating Coordinated Daily Activity Patterns

This notebook illustrates how to re-estimate ActivitySim's CDAP model. This process 
includes running ActivitySim in estimation mode to read household travel survey files and write out
the estimation data bundles used in this notebook.  To review how to do so, please visit the other
notebooks in this directory.

# Load libraries

In [114]:
import numpy as np
import pandas as pd
import larch
import os

pd.options.display.max_columns = 150

In [115]:
os.chdir('C:\ABM3_dev\outputs')

In [116]:
cdap_dir = r'output\estimation_data_bundle\cdap'
full_edb = pd.read_csv(os.path.join(cdap_dir, 'cdap_values_combined_full.csv'))

C:\Users\davidh\AppData\Local\Temp\2\ipykernel_32752\2743892615.py:2: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  full_edb = pd.read_csv(os.path.join(cdap_dir, 'cdap_values_combined_full.csv'))

In [360]:
print("Number of total people requiring cdap:", len(full_edb))
# df = full_edb[full_edb.hhsize <= 10]
df = full_edb
print("Number of people with hhsize <= 2:", len(df))

Number of total people requiring cdap: 96881
Number of people with hhsize <= 2: 96881

In [361]:
# Creating expressions that need to use numpy 
df['tmp_ptype3_school_mc_logsum'] = np.where((df.ptype == 3)  & (df.school_modechoice_logsum > 0), df.school_modechoice_logsum, 0)
df['tmp_has_below_avg_shop_accessibility'] = (df.shopping_accessibility < df.shopping_accessibility.mean())

In [362]:
df['tmp_has_below_avg_shop_accessibility'].value_counts(dropna=False)

True     48505
False    48376
Name: tmp_has_below_avg_shop_accessibility, dtype: int64

In [363]:
df.to_csv(os.path.join(cdap_dir, 'cdap_values_combined.csv'), index=False)

In [358]:
spec = pd.read_csv(os.path.join(cdap_dir, 'cdap_INDIV_AND_HHSIZE1_SPEC.csv'))
coeffs = spec[['M', 'N', 'H']].melt(value_name='coefficient_name')
coeffs = coeffs[~coeffs.coefficient_name.isna()].drop(columns='variable').drop_duplicates(subset='coefficient_name', keep='first')
coeffs['value'] = 0.0
coeffs['constrain'] = 'F'
coeffs.set_index('coefficient_name', inplace=True)
coeffs.loc['coef_UNAVAILABLE'] = (-999.0, 'T')
coeffs.to_csv(os.path.join(cdap_dir, 'coef_helper.csv'))

# Load data and prep model for estimation

In [364]:
modelname = "cdap"

# import importlib
# importlib.reload(activitysim.estimation.larch)
from activitysim.estimation.larch import component_model
model, data = component_model(modelname, return_data=True)

c:\abm3_dev\activitysim\activitysim\estimation\larch\cdap.py:375: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(os.path.join(edb_directory, filename), **kwargs)

Including joint tour utiltiy?: False

c:\abm3_dev\activitysim\activitysim\estimation\larch\cdap.py:375: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(os.path.join(edb_directory, filename), **kwargs)
one-hot encoding choice array
converting data_ch to <class 'numpy.float64'>
one-hot encoding choice array
converting data_ch to <class 'numpy.float64'>

# Review Inputs

## Settings

In [365]:
data.settings

┣          INDIV_AND_HHSIZE1_SPEC: 'cdap_indiv_and_hhsize1.csv'
┣                    COEFFICIENTS: 'cdap_coefficients.csv'
┣        INTERACTION_COEFFICIENTS: 'cdap_interaction_coefficients.csv'
┣ FIXED_RELATIVE_PROPORTIONS_SPEC: 'cdap_fixed_relative_proportions.csv'
┣          ADD_JOINT_TOUR_UTILITY: True
┣         JOINT_TOUR_COEFFICIENTS: 'cdap_joint_tour_coefficients.csv'
┣       JOINT_TOUR_USEFUL_COLUMNS: ---
┃                                  - auto_ownership
┃                                  - income
┃                                  - num_workers
┃                                  - shopping_accessibility
┃                                  - workplace_modechoice_logsum
┃                                  ...
┣                       CONSTANTS: ┣       FULL: 1
┃                                  ┣       PART: 2
┃                                  ┣ UNIVERSITY: 3
┃                                  ┣    NONWORK: 4
┃                                  ┣    RETIRED: 5
┃                                  ┣    DRIVING: 6
┃                                  ┣     SCHOOL: 7
┃                                  ┣  PRESCHOOL: 8
┣                 PERSON_TYPE_MAP: ┣ WORKER: ---
┃                                  ┃         - 1
┃                                  ┃         - 2
┃                                  ┃         ...
┃                                  ┣  CHILD: ---
┃                                  ┃         - 6
┃                                  ┃         - 7
┃                                  ┃         - 8
┃                                  ┃         ...
┣                annotate_persons: ┣ SPEC: 'annotate_persons_cdap'
┃                                  ┣   DF: 'persons'
┣             annotate_households: ┣   SPEC: 'annotate_households_cdap'
┃                                  ┣     DF: 'households'
┃                                  ┣ TABLES: ---
┃                                  ┃         - persons
┃                                  ┃         ...

## Households

In [366]:
data.households

,household_id,home_zone_id,income,hhsize,HHT,auto_ownership,num_workers,children,day,bldgsz,res_type,transponder_ownership,survey_year,day.1,HH_ID,chauf_id1,chauf_id2,child_id1,child_id2,child_id3,school_escorting_outbound,school_escorting_inbound,school_escorting_outbound_cond,joint_tour_frequency,joint_tour_frequency_composition,has_joint_tour,sample_rate,income_in_thousands,income_segment,num_non_workers,num_drivers,num_adults,num_children,num_young_children,num_children_6_to_12,num_children_5_to_15,num_children_16_to_17,num_gradeschool,num_highschool,num_college_age,num_young_adults,num_predrive_child,num_nonworker_adults,num_university_students,num_fullTime_workers,num_partTime_workers,num_retired_adults,num_highschool_graduates,num_children_6_to_15,num_young_retirees,num_old_retirees,non_family,family,home_is_urban,home_is_rural,num_hh_in_zone,av_ownership,workplace_location_accessibility,shopping_accessibility,othdiscr_accessibility,hh_work_auto_savings_ratio,num_under16_not_at_school,num_travel_active,num_travel_active_adults,num_travel_active_preschoolers,num_travel_active_children,num_travel_active_non_preschoolers,participates_in_jtf_model,auPkRetail,auPkTotal,auOpRetail,auOpTotal,trPkRetail,trPkTotal,trPkHH,...,emp_state_local_gov_blue,emp_state_local_gov_white,emp_public_ed,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,enrollgradekto8,enrollgrade9to12,collegeenroll,othercollegeenroll,adultschenrl,ech_dist,hch_dist,pseudomsa,parkarea,hstallsoth,hstallssam,hparkcost,numfreehrs,dstallsoth,dstallssam,dparkcost,mstallsoth,mstallssam,mparkcost,parkactive,openspaceparkpreserve,beachactive,budgetroom,economyroom,luxuryroom,midpriceroom,upscaleroom,hotelroomtotal,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres,MicroAccessTime,remoteAVParking,refueling_stations,totint,duden,empden,popden,retempden,totintbin,empdenbin,dudenbin,PopEmpDenPerMi,TAZ,poe_id,external_work,external_nonwork,external_TAZ,external_MAZ,walk_dist_local_bus,walk_dist_premium_transit,ML_DIST,AVGTTS,PCTDETOUR,terminal_time,household_density,population_density,employment_density,density_index,is_cbd,tot_collegeenroll,preschool_target,is_parking_zone,num_hh_joint_tours
0,1,13119,44996.25,4,1,2,1,2,1,2,1,False,2016,1,161000385,2.0,1.0,3.0,4.0,NaN,1,1,1,0_tours,0.0,0.0,1,44.99625,2,3,2,2,2,0,1,2,0,2,1,0,0,2,1,0,0,1,0,2,2,0,0,False,True,False,False,14,False,10.800842,11.217657,14.884606,0.0,0,4,2,0,2,4,False,9.114823,11.525027,9.528020,11.959262,8.057191,10.158213,9.705998,...,0,0,0,0,0,0,0,4,0,0,0,0,0,432801,432801,3,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,4,7.8278,22.4448,22.4448,22.4448,120,0,0,46,4.2780,0.1737,12.2946,0.0000,1,1,1,7979.7289,2439,NaN,0.0,0.0,NaN,NaN,9999.000,9999.000,0.4980,1.52527,0.09832,0.0,4.856359,13.856216,0.178215,0.171907,False,0,315,True,0
1,2,19303,38685.00,2,1,2,0,0,1,2,1,False,2016,1,161000451,NaN,NaN,NaN,NaN,NaN,1,1,1,0_tours,0.0,0.0,1,38.68500,2,2,2,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2,0,1,0,False,True,False,False,7,False,10.394149,11.339877,13.464349,0.0,0,2,2,0,0,2,False,8.845941,11.046439,9.132367,11.360222,5.187108,7.315624,7.712888,...,0,0,0,0,0,0,0,10,0,0,0,0,0,432901,432901,7,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,1,7.2567,33.7884,33.7884,33.7884,120,0,0,11,2.1970,2.5400,6.8756,1.2043,1,1,1,6025.9783,1260,NaN,0.0,0.0,NaN,NaN,0.560,1.000,7.2306,0.16124,0.20751,0.0,1.302222,4.321010,0.295960,0.241152,False,0,156,True,0
2,3,12446,17175.00,1,4,1,0,0,1,8,4,False,2016,1,161000525,NaN,NaN,NaN,NaN,NaN,1,1,1,0_tours,0.0,0.0,1,17.17500,1,1,1,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,True,False,False,False,14,False,11.403241,12.191229,14.323247,0.0,0,1,1,0,0,1,False,9.623196,11.774019,9.884143,12.113552,6.207654,8.333393,8.881074,...,0,0,0,0,0,0,0,5,0,0,0,0,0,411201,423101,5,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,13,11.4048,8.3940,8.3940,8.3940,120,0,0,40,5.4644,9.8891,16.0063,4.2917,1,1,2,16573.0548,4167,NaN,0.0,0.0,NaN,NaN,0.181,0.123,9.0316,0.23848,0.00000,0.0,9.768883,27.996188,0.595664,0.561430,False,0,240,True,0
3,4,2699,37316.25,2,1,3,2,0,1,2,1,False,2016,1,161000914,NaN,NaN,NaN,NaN,NaN,1,1,1,0_tours,0.0,0.0,1,37.31625,2,0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,0,0,False,True,False,False,7,False,11.416716,11.800279,15.663887,0.0,0,1,1,0,0,1,False,9.766551,12.125621,9.972855,12.371837,7.693219,10.485124,9.371862,...,0,0,0,0,0,0,0,8,0,0,0,0,0,432801,432801,3,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,23,3.3397,12.0755,12.0755,12.0755,120,0,0,18,2.1292,1.3846,5.4339,0.0000,1,1,1,4363.8208,1699,NaN,0.0,0.0,NaN,NaN,0.513,1.000,3.6817,0.23571,0.00000,0.0,7.701544,19.129643,0.662498,0.610023,False,0,239,True,0
4,5,13161,42760.00,2,1,1,0,0,1,2,1,False,2016,1,161001149,NaN,NaN,NaN,NaN,NaN,1,1,1,1_Eat,7.0,1.0,1,42.76000,2,2,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,0,1,1,False,True,False,False,7,False,11.461173,11.186803,14.043881,0.0,0,2,2,0,0,2,True,9.375897,11.746829,9.585003,11.993235,7.564573,9.979946,9.713279,...,0,0,0,0,0,0,0,0,0,0,0,0,0,432801,432801,3,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,23,1.6830,6.8992,6.8992,6.8992,120,0,0,37,3.7989,0.9639,9.7925,0.0067,1,1,1,6884.0914,1465,NaN,0.0,0.0,NaN,NaN,0.700,1.000,5.3084,0.22792,0.00000,0.0,4.783163,14.059601,0.000000,0.000000,False,0,97,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49757,49758,5406,22370.00,2,1,1,1,0,4,8,3,False,2022,4,22118046,NaN,NaN,NaN,NaN,NaN,1,1,1,0_tours,0.0,0.0,1,22.37000,1,1,2,2,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,2,0,0,0,False,True,False,False,1,False,10.974681,11.962522,14.541667,0.0,0,0,0,0,0,0,False,9.277125,11.416712,9.516269,11.744324,6.561192,8.544907,8.835140,...,0,0,0,0,0,0,0,173,0,0,0,0,0,419001,425901,4,4,5,5,0,0,5,5,0,5,5,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,11,3.0281,12.1152,12.1152,12.1152,120,0,0,66,3.1545,3.7876,10.1987,0.7533,1,1,1,8951.1754,3245,NaN,0.0,0.0,NaN,NaN,0.219,0.582,19.6129,0.22633,0.00000,0.0,0.330164,0.825409,14.279583,0.322702,False,0,44,True,0
49758,49759,11721,28805.00,1,6,1,1,0,4,2,1,False,2022,4,22118047,NaN,NaN,NaN,NaN,NaN,1,1,1,0_tours,0.0,0.0,1,28.80500,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,True,False,False,False,1,False,10.919771,10.393237,14.039783,0.0,0,0,0,0,0,0,False,9.353132,11.484455,9.707545,11.931382,7.309510,9.599698,9.012531,...,0,0,0,0,0,0,0,10,0,0,0,0,0,432801,432801,2,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,10,4.7934,18.8641,18.8641,18.8641,120,0,0,43,2.5725,0.5669,8.2845,0.1910,1,1,1,5664.9051,3705,NaN,0.0,0.0,NaN,NaN,0.357,9999.000,12.2910,0.23108,0.00000,0.0,3.869784,14.630966,0.530107,0.466239,False,0,286,True,0
49759,49760,7270,80659.00,1,6,1,1,0,4,3,2,False,2022,4,22118053,NaN,NaN,NaN,NaN,NaN,1,1,1,0_tours,0.0,0.0,1,80.65900,3,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,True,False,False,False,4,False,10.894094,11.147114,14.623018,0.0,0,0,0,0,0,0,False,9.308740,11.468755,9.567837,11.814678,6.327878,8.277774,8.435412,...,0,0,0,0,0,0,0,72,0,0,0,0,0,419001,425901,4,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,11,2.5114,19.2908,19.2908,19.2908,120,0,0,71,4.9822,2.2492,16.4659,1.0864,1,1,1,11977.6946,3089,NaN,0.0,0.0,NaN,NaN,0.207,0.969,19.4927,0.22726,0.00000,0.0,16.225351,51.164286,3.732349,3.034351,False,0,1028,True,0
49760,49761,2490,18446.00,1,6,1,1,0,4,8,3,True,2022,4,22118054,NaN,NaN,NaN,NaN,NaN,1,1,1,0_tours,0.0,0.0,1,18.44600,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,True,False,False,False,11,False,11.984094,13.669578,16.511511,0.0,0,1,1,0,0,1,False,9.774482,12.133121,9.995990,12.392785,7.905501,10.225226,10.397002,...,0,0,0,0,0,0,0,3,0,0,0,0,0,432801,432801,2,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,8,3.0964,5.9434,5.9434,5.9434,10,0,0,250,16.1432,10.0833,35.7134,4.6876,3,2,3,29309.8664,2309,NaN,0.0,0.0,NaN,NaN,0.106,0.359,6.9812,0.25386,0.00000,0.0,20.695225,47.615843,0.504762,0.492743,False,0,286,True,0
49761,49762,9483,83462.00,1,6,1,1,0,4,2,1,False,2022,4,22118063,NaN,NaN,NaN,NaN,NaN,1,1,1,0_tours,0.0,0.0,1,83.46200,3,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,True,False,False,False,1,False,10.558774,10.899991,13.737474,0.0,0,0,0,0,0,0,False,9.203751,11.327030,9.486577,11.690318,6.969641,9.234214,8.442221,...,0,0,0,0,0,0,0,31,0,0,0,0,0,418801,425901,4,4,0,0,0,0,0,0,0,0,0,0,5.8765,55.9061,0.0,0,0,0,0,0,0,1,12,4.5235,91.8059,91.8059,91.8059,120,0,0,20,1.2234,5.8151,4.3798,3.1829,1,1,1,6524.7360,3756,NaN,0.0,0.0,NaN,NaN,0.326,9999.000,19.2665,0.23135,0.00000,0.0,2.516178,9.008136,0.337669,0.297716,False,0,858,True,0

## Person Data

In [367]:
data.person_data

,person_id,model_choice,override_choice,household_id,PNUM,age,sex,pemploy,pstudent,is_student,ptype,school_zone_id,workplace_zone_id,free_parking_at_work,work_from_home,telecommute_frequency,day,educ,external_worker_identification,external_workplace_zone_id,transit_pass_subsidy,transit_pass_ownership,industry,cdap_activity,mandatory_tour_frequency,_escort,_shopping,_othmaint,_eatout,_social,_othdiscr,non_mandatory_tour_frequency,age_16_to_19,age_16_p,adult,male,female,has_non_worker,has_retiree,has_preschool_kid,has_driving_kid,has_school_kid,has_full_time,has_part_time,has_university,student_is_employed,nonstudent_to_school,is_preschool,is_gradeschool,is_highschool,is_university,school_segment,is_worker,is_fulltime_worker,is_parttime_worker,is_internal_worker,is_external_worker,home_zone_id,time_factor_work,time_factor_nonwork,is_income_less25K,is_income_25K_to_60K,is_income_60K_to_120K,is_income_greater60K,is_income_greater120K,is_non_worker_in_HH,is_all_adults_full_time_workers,is_pre_drive_child_in_HH,is_out_of_home_worker,external_workplace_location_logsum,external_workplace_modechoice_logsum,school_location_logsum,school_modechoice_logsum,distance_to_school,roundtrip_auto_time_to_school,...,emp_own_occ_dwell_mgmt,emp_fed_gov_accts,emp_st_lcl_gov_accts,emp_cap_accts,emp_total,enrollgradekto8,enrollgrade9to12,collegeenroll,othercollegeenroll,adultschenrl,ech_dist,hch_dist,pseudomsa,parkarea,hstallsoth,hstallssam,hparkcost,numfreehrs,dstallsoth,dstallssam,dparkcost,mstallsoth,mstallssam,mparkcost,parkactive,openspaceparkpreserve,beachactive,budgetroom,economyroom,luxuryroom,midpriceroom,upscaleroom,hotelroomtotal,truckregiontype,district27,milestocoast,acres,effective_acres,land_acres,MicroAccessTime,remoteAVParking,refueling_stations,totint,duden,empden,popden,retempden,totintbin,empdenbin,dudenbin,PopEmpDenPerMi,TAZ,poe_id,external_work,external_nonwork,external_TAZ,external_MAZ,walk_dist_local_bus,walk_dist_premium_transit,ML_DIST,AVGTTS,PCTDETOUR,terminal_time,household_density,population_density,employment_density,density_index,is_cbd,tot_collegeenroll,preschool_target,is_parking_zone,chunk_id,tmp_ptype3_school_mc_logsum,tmp_has_below_avg_shop_accessibility,cdap_rank
0,1,M,N,1,1,46,2,2,3,False,2,-1,5476,True,False,No_Telecommute,1,13,1,-1,0,0,healthcare,N,NaN,1,0,0,1,0,1,96,False,True,True,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,False,0,True,False,True,True,False,13119,0.407362,0.648903,False,True,False,False,False,True,False,True,True,NaN,NaN,NaN,NaN,NaN,0.000000,...,0,0,0,0,4,0,0,0,0,0,432801,432801,3,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,4,7.8278,22.4448,22.4448,22.4448,120,0,0,46,4.2780,0.1737,12.2946,0.0000,1,1,1,7979.7289,2439,NaN,0.0,0.0,NaN,NaN,9999.000,9999.000,0.4980,1.52527,0.09832,0.0,4.856359,13.856216,0.178215,0.171907,False,0,315,True,0,0.0,True,1
1,2,N,N,1,2,53,1,3,3,False,4,-1,-1,False,False,NaN,1,13,1,-1,0,0,NaN,N,NaN,0,0,0,0,0,1,1,False,True,True,True,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,0,False,False,False,False,False,13119,0.279769,0.612654,False,True,False,False,False,True,False,True,False,NaN,NaN,NaN,NaN,NaN,0.000000,...,0,0,0,0,4,0,0,0,0,0,432801,432801,3,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,4,7.8278,22.4448,22.4448,22.4448,120,0,0,46,4.2780,0.1737,12.2946,0.0000,1,1,1,7979.7289,2439,NaN,0.0,0.0,NaN,NaN,9999.000,9999.000,0.4980,1.52527,0.09832,0.0,4.856359,13.856216,0.178215,0.171907,False,0,315,True,0,0.0,True,4
2,3,M,M,1,3,8,2,4,1,True,7,13464,-1,False,False,NaN,1,0,1,-1,0,0,NaN,M,school1,0,0,0,0,0,0,0,False,False,False,False,True,True,False,False,False,True,False,True,False,False,False,False,True,False,False,2,False,False,False,False,False,13119,0.412113,1.453034,False,True,False,False,False,True,False,True,False,NaN,NaN,0.853976,0.853976,3.675232,23.554642,...,0,0,0,0,4,0,0,0,0,0,432801,432801,3,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,4,7.8278,22.4448,22.4448,22.4448,120,0,0,46,4.2780,0.1737,12.2946,0.0000,1,1,1,7979.7289,2439,NaN,0.0,0.0,NaN,NaN,9999.000,9999.000,0.4980,1.52527,0.09832,0.0,4.856359,13.856216,0.178215,0.171907,False,0,315,True,0,0.0,True,2
3,4,M,M,1,4,15,2,4,1,True,7,13466,-1,False,False,NaN,1,0,1,-1,0,0,NaN,M,school1,0,0,0,0,0,1,1,False,False,False,False,True,True,False,False,False,True,False,True,False,False,False,False,False,True,False,3,False,False,False,False,False,13119,0.759176,0.316427,False,True,False,False,False,True,False,True,False,NaN,NaN,0.339338,0.339338,4.859625,29.436872,...,0,0,0,0,4,0,0,0,0,0,432801,432801,3,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,4,7.8278,22.4448,22.4448,22.4448,120,0,0,46,4.2780,0.1737,12.2946,0.0000,1,1,1,7979.7289,2439,NaN,0.0,0.0,NaN,NaN,9999.000,9999.000,0.4980,1.52527,0.09832,0.0,4.856359,13.856216,0.178215,0.171907,False,0,315,True,0,0.0,True,3
4,5,H,N,2,1,60,2,3,3,False,4,-1,-1,False,False,NaN,1,13,1,-1,0,0,NaN,N,NaN,0,0,0,0,0,1,1,False,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,0,False,False,False,False,False,19303,1.437325,1.281885,False,True,False,False,False,True,False,False,False,NaN,NaN,NaN,NaN,NaN,0.000000,...,0,0,0,0,10,0,0,0,0,0,432901,432901,7,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,1,7.2567,33.7884,33.7884,33.7884,120,0,0,11,2.1970,2.5400,6.8756,1.2043,1,1,1,6025.9783,1260,NaN,0.0,0.0,NaN,NaN,0.560,1.000,7.2306,0.16124,0.20751,0.0,1.302222,4.321010,0.295960,0.241152,False,0,156,True,1,0.0,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96876,96877,H,H,49758,2,53,1,1,3,False,1,-1,13672,False,False,No_Telecommute,4,13,1,-1,0,0,construction,H,NaN,0,0,0,0,0,0,0,False,True,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,0,True,True,False,True,False,5406,0.325840,1.617543,True,False,False,False,False,True,False,False,True,NaN,NaN,NaN,NaN,NaN,0.000000,...,0,0,0,0,173,0,0,0,0,0,419001,425901,4,4,5,5,0,0,5,5,0,5,5,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,11,3.0281,12.1152,12.1152,12.1152,120,0,0,66,3.1545,3.7876,10.1987,0.7533,1,1,1,8951.1754,3245,NaN,0.0,0.0,NaN,NaN,0.219,0.582,19.6129,0.22633,0.00000,0.0,0.330164,0.825409,14.279583,0.322702,False,0,44,True,49757,0.0,False,1
96877,96878,M,H,49759,1,27,2,1,3,False,1,-1,7462,True,False,No_Telecommute,4,13,1,-1,0,0,other,H,NaN,0,0,0,0,0,0,0,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0,True,True,False,True,False,11721,0.603265,1.467384,False,True,False,False,False,False,True,False,True,NaN,NaN,NaN,NaN,NaN,0.000000,...,0,0,0,0,10,0,0,0,0,0,432801,432801,2,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,10,4.7934,18.8641,18.8641,18.8641,120,0,0,43,2.5725,0.5669,8.2845,0.1910,1,1,1,5664.9051,3705,NaN,0.0,0.0,NaN,NaN,0.357,9999.000,12.2910,0.23108,0.00000,0.0,3.869784,14.630966,0.530107,0.466239,False,0,286,True,49758,0.0,True,1
96878,96879,M,H,49760,1,58,2,2,3,False,2,-1,857,True,False,2_3_days_week,4,13,1,-1,0,0,retail,H,NaN,0,0,0,0,0,0,0,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0,True,False,True,True,False,7270,1.743173,0.590314,False,False,True,True,False,False,False,False,True,NaN,NaN,NaN,NaN,NaN,0.000000,...,0,0,0,0,72,0,0,0,0,0,419001,425901,4,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,11,2.5114,19.2908,19.2908,19.2908,120,0,0,71,4.9822,2.2492,16.4659,1.0864,1,1,1,11977.6946,3089,NaN,0.0,0.0,NaN,NaN,0.207,0.969,19.4927,0.22726,0.00000,0.0,16.225351,51.164286,3.732349,3.034351,False,0,1028,True,49759,0.0,True,1
96879,96880,N,N,49761,1,28,2,2,3,False,2,-1,3759,False,False,2_3_days_week,4,13,1,-1,0,0,business_srv,N,NaN,0,1,0,0,0,0,35,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0,True,False,True,True,False,2490,0.592190,0.565892,True,False,False,False,False,False,False,False,True,NaN,NaN,NaN,NaN,NaN,0.000000,...,0,0,0,0,3,0,0,0,0,0,432801,432801,2,4,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0,0,0,0,0,0,0,1,8,3.0964,5.9434,5.9434,5.9434,10,0,0,250,16.1432,10.0833,35.7134,4.6876,3,2,3,29309.8664,2309,NaN,0.0,0.0,NaN,NaN,0.106,0.359,6.9812,0.25386,0.00000,0.0,20.695225,47.615843,0.504762,0.492743,False,0,286,True,49760,0.0,False,1
96880,96881,M,H,49762,1,60,2,1,3,False,1,-1,6678,True,False,No_Telecommute,4,13,1,-1,0,0,other,H,NaN,0,0,0,0,0,0,0,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0,True,True,False,True,False,9483,0.881005,0.488461,False,False,True,True,False,False,True,False,True,NaN,NaN,NaN,NaN,NaN,0.000000,...,0,0,0,0,31,0,0,0,0,0,418801,425901,4,4,0,0,0,0,0,0,0,0,0,0,5.8765,55.9061,0.0,0,0,0,0,0,0,1,12,4.5235,91.8059,91.8059,91.8059,120,0,0,20,1.2234,5.8151,4.3798,3.1829,1,1,1,6524.7360,3756,NaN,0.0,0.0,NaN,NaN,0.326,9999.000,19.2665,0.23135,0.00000,0.0,2.516178,9.008136,0.337669,0.297716,False,0,858,True,49761,0.0,True,1

In [368]:
(data.person_data.override_choice == data.person_data.cdap_activity).all()

True

In [369]:
df = data.person_data.copy()
df['mand_status'] = np.select(condlist=[df.is_worker, df.is_student, (df.is_worker & df.is_student), ~(df.is_worker | df.is_student)], choicelist=['worker', 'student', 'both', 'neither'])
pd.crosstab(df.mand_status, df.override_choice, margins=True)

override_choice      H      M      N    All
mand_status
neither          22421      0   6641  29062
student          13345   2346   2356  18047
worker           33073   9458   7241  49772
All              68839  11804  16238  96881

In [370]:
pd.crosstab(df.telecommute_frequency, df.override_choice, margins=True)

override_choice            H     M     N    All
telecommute_frequency
1_day_week              3092  1473   562   5127
2_3_days_week           1380   309   385   2074
4_days_week              414   204   354    972
No_Telecommute         19710  7409  3011  30130
All                    24596  9395  4312  38303

## interaction_coef

In [371]:
data.interaction_coef

   activity interaction_ptypes  coefficient  cardinality  slug
0         H                 11            0            2  HH11
1         H                 12            0            2  HH12
2         H                 13            0            2  HH13
3         H                 14            0            2  HH14
4         H                 15            0            2  HH15
5         H                 16            0            2  HH16
6         H                 17            0            2  HH17
7         H                 18            0            2  HH18
8         H                 22            0            2  HH22
9         H                 23            0            2  HH23
10        H                 24            0            2  HH24
11        H                 25            0            2  HH25
12        H                 26            0            2  HH26
13        H                 27            0            2  HH27
14        H                 28            0            2  HH28
15        H                 33            0            2  HH33
16        H                 34            0            2  HH34
17        H                 35            0            2  HH35
18        H                 44            0            2  HH44
19        H                 45            0            2  HH45
20        H                 55            0            2  HH55
21        H                 77            0            2  HH77
22        H                 88            0            2  HH88
23        M                 11            0            2  MM11
24        M                 12            0            2  MM12
25        M                 13            0            2  MM13
26        M                 17            0            2  MM17
27        M                 18            0            2  MM18
28        M                 22            0            2  MM22
29        M                 23            0            2  MM23
30        M                 26            0            2  MM26
31        M                 27            0            2  MM27
32        M                 28            0            2  MM28
33        M                 33            0            2  MM33
34        M                 77            0            2  MM77
35        M                 88            0            2  MM88
36        N                 11            0            2  NN11
37        N                 12            0            2  NN12
38        N                 13            0            2  NN13
39        N                 14            0            2  NN14
40        N                 15            0            2  NN15
41        N                 17            0            2  NN17
42        N                 18            0            2  NN18
43        N                 22            0            2  NN22
44        N                 23            0            2  NN23
45        N                 24            0            2  NN24
46        N                 25            0            2  NN25
47        N                 33            0            2  NN33
48        N                 34            0            2  NN34
49        N                 35            0            2  NN35
50        N                 44            0            2  NN44
51        N                 45            0            2  NN45
52        N                 55            0            2  NN55
53        N                 77            0            2  NN77
54        N                 88            0            2  NN88

## Spec 1

In [372]:
data.spec1

,Description,Expression,M,N,H
0,Full-time worker ASC,ptype == 1,coef_full_time_worker_asc_M,coef_full_time_worker_asc_N,NaN
1,Part-time worker ASC,ptype == 2,coef_part_time_worker_asc_M,coef_part_time_worker_asc_N,NaN
2,University student ASC,ptype == 3,coef_university_student_asc_M,coef_university_student_asc_N,NaN
3,Non-working adult ASC,ptype == 4,NaN,coef_non_working_adult_asc_N,NaN
4,Retired ASC,ptype == 5,NaN,coef_retired_asc_N,NaN
5,Driving-age child who is in school ASC,ptype == 6,coef_driving_age_child_asc_M,coef_driving_age_child_asc_N,NaN
6,Pre-driving-age child who is in school ASC,ptype == 7,coef_pre_driving_age_child_asc_M,coef_pre_driving_age_child_asc_N,NaN
7,Preschool child ASC,ptype == 8,coef_preschool_child_asc_M,coef_preschool_child_asc_N,NaN
8,Full-time worker interaction with female gender,(ptype == 1) & (sex == 2),coef_full_time_worker_female_gender_M,coef_full_time_worker_female_gender_N,NaN
9,Part-time worker interaction with female gender,(ptype == 2) & (sex == 2),coef_part_time_worker_female_gender_M,coef_part_time_worker_female_gender_N,NaN
10,University student interaction with female gender,(ptype == 3) & (sex == 2),coef_university_student_female_gender_M,coef_university_student_female_gender_N,NaN
11,Non-working adult interaction with female gender,(ptype == 4) & (sex == 2),NaN,coef_non_working_adult_female_gender_N,NaN
12,Retired interaction with female,(ptype == 5) & (sex == 2),coef_retired_female_M,coef_retired_female_N,NaN
13,Driving-age child interaction with female,(ptype == 6) & (sex == 2),NaN,coef_driving_age_child_female_N,NaN
14,Non-working adult interaction with more cars t...,(ptype == 4) & (auto_ownership > num_workers),NaN,coef_non_working_adult_more_cars_than_workers_N,NaN
15,Retired interaction with more cars than workers,(ptype == 5) & (auto_ownership > num_workers),NaN,coef_retired_more_cars_than_workers_N,NaN
16,Driving-age child who is in school interaction...,(ptype == 6) & (auto_ownership > num_workers),coef_driving_age_child_more_cars_than_workers_M,NaN,NaN
17,Full-time worker interaction with fewer cars t...,(ptype == 1) & (auto_ownership < num_workers),coef_full_time_worker_fewer_cars_than_workers_M,NaN,NaN
18,Full-time worker interaction with income less ...,(ptype == 1) & (income < 30000),coef_full_time_worker_income_less_than_30k_M,NaN,coef_full_time_worker_income_less_than_30k_H
19,Part-time worker interaction with income less ...,(ptype == 2) & (income < 30000),coef_part_time_worker_income_less_than_30k_M,NaN,NaN
20,University student interaction with income bet...,(ptype == 3) & (income >= 60000) & (income <= ...,NaN,NaN,coef_university_student_income_between_60k_and...
21,Non-working adult interaction with income more...,(ptype == 4) & (income >= 100000),NaN,NaN,coef_non_working_adult_income_more_than_100k_H
22,Retired interaction with income between $60k a...,(ptype == 5) & (income >= 60000) & (income <= ...,NaN,NaN,NaN
23,Retired interaction with income more than $100k,(ptype == 5) & (income >= 100000),NaN,NaN,coef_retired_income_more_than_100k_H
24,Preschool child interaction with income betwee...,(ptype == 8) & (income >= 60000) & (income <= ...,coef_preschool_child_income_between_60k_and_10...,NaN,NaN
25,Full-time Worker interaction with accessibilit...,(ptype == 1) & tmp_has_below_avg_shop_accessib...,NaN,coef_full_time_worker_retail_accessibility_N,NaN
26,Mandatory pattern unavailable if not worker or...,(is_student == False) & (is_worker == False),coef_UNAVAILABLE,NaN,NaN
27,Full time worker who works from home,(ptype == 1) & (work_from_home),NaN,coef_ft_worker_work_from_home_N,NaN
28,Part time worker who works from home,(ptype == 2) & (work_from_home),NaN,coef_pt_worker_work_from_home_N,NaN
29,Telecommutes 1 day per week,telecommute_frequency=='1_day_week',NaN,coef_telecommute_1_day_week_N,coef_telecommute_1_day_week_H
30,Telecommutes 2-3 days per week,telecommute_frequency=='2_3_days_week',NaN,coef_telecommute_2_3_days_week_N,coef_telecommute_2_3_days_week_H
31,Telecommutes 4 days per week,telecommute_frequency=='4_days_week',NaN,coef_telecommute_4_days_week_N,coef_telecommute_4_days_week_H

# Review Model

## Utility Functions for HHSize 1

In [373]:
model[0].utility_functions() ## HH Size = 1

## Utility Functions for HHSize 2

In [375]:
# model[1].utility_functions() ## HH Size = 2

# Re-Estimate Model

With the model setup for estimation, the next step is to estimate the model coefficients.  Make sure to use a sufficiently large enough household sample and set of zones to avoid an over-specified model, which does not have a numerically stable likelihood maximizing solution.  Larch has two built-in estimation methods: BHHH and SLSQP.  BHHH is the default and typically runs faster, but does not follow constraints on parameters.  SLSQP is safer, but slower, and may need additional iterations.

In [376]:
# r = model.estimate(method='BHHH', options={'maxiter':1000})
model.estimate(method='BHHH', options={'maxiter':1500})

,value,initvalue,nullvalue,minimum,maximum,holdfast,note,best
coef_UNAVAILABLE,-999.000000,-999.0,0.0,-999.0,-999.0,1,,-999.000000
coef_driving_age_child_asc_M,-2.274645,0.0,0.0,NaN,NaN,0,,-2.274645
coef_driving_age_child_asc_N,-1.886586,0.0,0.0,NaN,NaN,0,,-1.886586
coef_driving_age_child_female_N,-0.141788,0.0,0.0,NaN,NaN,0,,-0.141788
coef_driving_age_child_more_cars_than_workers_M,0.323162,0.0,0.0,NaN,NaN,0,,0.323162
...,...,...,...,...,...,...,...,...
coef_N_44,2.027136,0.0,0.0,NaN,NaN,0,,2.027136
coef_N_45,2.165050,0.0,0.0,NaN,NaN,0,,2.165050
coef_N_55,2.130772,0.0,0.0,NaN,NaN,0,,2.130772
coef_N_77,2.826423,0.0,0.0,NaN,NaN,0,,2.826423
coef_N_88,2.650757,0.0,0.0,NaN,NaN,0,,2.650757

C:\Users\davidh\AppData\Local\Temp\2\ipykernel_32752\2177651394.py:2: PossibleOverspecification: WARNING: Model is possibly over-specified (hessian is nearly singular).
  model.estimate(method='BHHH', options={'maxiter':1500})
c:\Users\davidh\.conda\envs\baydag_v2\lib\site-packages\larch\linalg\__init__.py:18: UserWarning: minimum eig 2.664521605832556e-15 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")

┣                x: coef_UNAVAILABLE                                  -999.000000
┃                   coef_driving_age_child_asc_M                        -2.274643
┃                   coef_driving_age_child_asc_N                        -1.886585
┃                   coef_driving_age_child_female_N                     -0.141789
┃                   coef_driving_age_child_more_cars_than_workers_M      0.323160
┃                                                                         ...
┃                   coef_N_44                                            2.027136
┃                   coef_N_45                                            2.165050
┃                   coef_N_55                                            2.130772
┃                   coef_N_77                                            2.826422
┃                   coef_N_88                                            2.650757
┃                   Length: 100, dtype: float64
┣          loglike: -42249.97428181838
┣        d_loglike: coef_UNAVAILABLE                                   0.000000
┃                   coef_driving_age_child_asc_M                       0.000013
┃                   coef_driving_age_child_asc_N                       0.000004
┃                   coef_driving_age_child_female_N                   -0.000005
┃                   coef_driving_age_child_more_cars_than_workers_M   -0.000006
┃                                                                        ...
┃                   coef_N_44                                         -0.000020
┃                   coef_N_45                                         -0.000006
┃                   coef_N_55                                         -0.000050
┃                   coef_N_77                                          0.000007
┃                   coef_N_88                                         -0.000018
┃                   Length: 100, dtype: float64
┣              nit: 118
┣             nfev: 328
┣             njev: 118
┣           status: 0
┣          message: 'Optimization terminated successfully'
┣          success: True
┣     elapsed_time: datetime.timedelta(seconds=635, microseconds=643576)
┣           method: 'slsqp'
┣          n_cases: 49762
┣ iteration_number: 118
┣          logloss: 0.8490409204175552

In [378]:
model.parameter_summary()

# Output Estimation Results

In [ ]:
from larch.util.activitysim import update_coefficients
coefficients = update_coefficients(model, data)

In [ ]:
result_dir = data.edb_directory/'estimated'

In [ ]:
os.makedirs(result_dir, exist_ok=True)

### Write the re-estimated coefficients file

In [ ]:
coefficients.reset_index().to_csv(
    result_dir/"cdap_coefficients_revised.csv", 
    index=False,
)

### Write the model estimation report, including coefficient t-statistic and log likelihood

In [ ]:
for hh_size, submodel in enumerate(model, 1):
    if hh_size > 2: 
        break 
        # the largest HH sizes have massive model reports that 
        # Excel doesn't handle well; review them in Jupyter 
        # instead if you are interested
    submodel.to_xlsx(
        result_dir/f"cdap_model_estimation_hhsize{hh_size}.xlsx", 
        data_statistics=True,
    )

# Next Steps

The final step is to either manually or automatically copy the `cdap_coefficients.csv_revised.csv` file to the configs folder, rename it to `cdap_coefficients.csv.csv`, and run ActivitySim in simulation mode.

In [ ]:
pd.read_csv(result_dir/"cdap_coefficients_revised.csv")